<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
    
      <h2>Edit Listing : <b> <%= listing.title %> </b></h2>
      
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title%>"
          class="form-control"
          required
        />

        <div class="invalid-feedback">
          Title must not be empty!
        </div>

        <div class="valid-feedback">
          Title looks good
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>

        <textarea
          name="listing[description]"
          rows="8"
          cols="20"
          class="form-control"
          required
        >
            <%= listing.description %>
        </textarea>

        <div class="invalid-feedback">
          Describe about your listing for better bookings!
        </div>
      </div>

      <div class="mb-3 custom-image-container">
        <img src="<%= originalImageURL %>" class="custom-image">
      </div>
      
      <div class="mb-3">
        <label for="image" class="form-label">Upload New image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
        />
      </div>

      <div class="row">

          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              value="<%= listing.price %>"
              class="form-control"
              required
            />

            <div class="invalid-feedback">
              Enter a valid Value!
            </div>
          </div>
    
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%= listing.country %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Country must not be empty
            </div>
          </div>
      </div>


      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">
          Location must not be empty
        </div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">EDIT</button>
      
    </form>
  </div>
</div>
